header { grid-area: header; }
section { grid-area: section; }
article { grid-area: article; }
footer { grid-area: footer; }
aside { grid-area: aside; }

@media screen and (min-width: 840px){
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'article article article article article aside'
      'footer footer footer footer footer footer'
      ;
    grid-gap: 10px;
    background:url(img/food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em;
  }
  }
  
  .grid-container > div, header {
    font-family: 'Jomolhari', serif;
    text-align: left;
    padding: 10px 0;
  }
  header {
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 30px;
  }
  article {
    text-align: center;
  }
  footer {
    margin: 5em ;
    text-align: center;
  }
  p {
    font-size: 15px;
  }
  .text-input {
    margin: 20%;
    text-align: right;

  }

  @media screen and (min-width: 481px) and (max-width: 839px){
    .grid-container {
      display: flex;
      flex-direction: column; 
      background:url(img/images.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 10px;
      font-size: 25px;
    }
    .grid-container > div, header {
      font-family: 'Jomolhari', serif;
      text-align: center;
      padding: 10px 0;
      font-size: 25px;
  }

@media screen and (max-width: 480px){
    .grid-container {
        display: flex;
        flex-direction: column; 
        background-color:aquamarine;
    }
    .grid-container > div, header {
      font-family: 'Jomolhari', serif;
      text-align: center;
      padding: 8px 0;
      font-size: 20px;
}

@media screen and (max-width: 320px){
  .grid-container {
    width: 320px;
  }
}